# Gradle
.gradle/
build/
src/main/resources/.gradle/

# Runtime / dev environment
run/
bin/

# Logs
*.log
logs/

# IDE
.idea/
.vscode/
*.code-workspace

# OS
.DS_Store

# Temporary / misc
sources.txt
